<div class="container-fluid hero">
    <div class="row">
        <div class="col-4 hero-img">
            <img src="assets/pngegg.png" alt="not found">
        </div>
        <div class="col-8">
            <h2>Rotten Potatoes</h2>
            <p>Rotten Potatoes is the world’s most trusted recommendation resources for
                quality entertainment. As the leading online aggregator of movie and TV show
                reviews from critics, we provide fans with a comprehensive guide to what’s
                Fresh – and what’s Rotten – in theaters and at home. If you’re an
                entertainment fan looking for a recommendation, or to share an opinion,
                you’ve come to the right place.</p>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="forms">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="invalid-feedback">
                        Enter a valid email.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
                    <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="invalid-feedback">
                        Password is required and must be at least 6 characters long.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
            </form>
        </div>
    </div>
</div>
